@import "shared/styles/responsive.module.scss";
@import "shared/styles/colors.scss";
.MainContainer {
  @include responsiveProperty(
    (
      padding-top: 47,
    )
  );
  @extend .customContainer;
  .HeaderContainer {
    display: flex;
    justify-content: space-between;
    @include responsiveProperty(
      (
        margin-top: 100,
      )
    );
    .Content {
      position: relative;
      .ContentHeading {
        @include responsiveProperty(
          (
            font-size: 48,
            width: 582,
          )
        );
        font-family: InterBold;
      }
      .TileMainContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .TileContainer {
          box-shadow: #00000014;
          @include responsiveProperty(
            (
              margin-right: 100,
            )
          );
          img {
            @include responsiveProperty(
              (
                width: 64,
                height: 64,
              )
            );
          }
          .TileContent {
            .TileHeading,
            .TileParagraph {
              @include responsiveProperty(
                (
                  font-size: 16,
                )
              );
            }
            .TileParagraph {
              font-family: "InterMedium";
            }
          }
        }
      }
    }
    .HeaderImg {
      img {
        @include responsiveProperty(
          (
            width: 576,
          )
        );
      }
    }
  }
  .CompanyAbout {
    display: flex;
    align-items: center;
    height: 163px;
    border-radius: 6px;
    background-color: white;
    justify-content: center;
    margin-top: 100px;
  }
  .BrandContainer {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    .BrandContent {
      text-align: center;
      @include responsiveProperty(
        (
          width: 446,
        )
      );
      .BranHeading {
        @include responsiveProperty(
          (
            font-size: 36,
          )
        );
      }
      .BrandParagraph {
        @include responsiveProperty(
          (
            font-size: 16,
          )
        );
        font-family: InterRegular;
        color: $BLACK_ONE;
      }
    }
  }
  .FormMainContainer {
    display: flex;
    margin-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;

    .FormImage {
      @include responsiveProperty(
        (
          width: 505,
        )
      );
    }
    .FormContainer {
      background-color: white;
      border-radius: 10px;
      padding: 28px 48px;
      @include responsiveProperty(
        (
          width: 575,
        )
      );
      .FormHeading {
        @include responsiveProperty(
          (
            font-size: 36,
          )
        );
        font-family: InterBold;
      }
      .FormParagraph {
        font-size: 16px;
        font-family: InterRegular;
        color: $BLACK_ONE;
      }
      .FormBtn {
        background-color: $YELLOW;
        width: 200px;
        margin-top: 30px;
        box-shadow: 0px 7px 33px 3px $YELLOW !important;
        &:hover {
          background-color: white;
          color: $YELLOW;
        }
      }
    }
  }
  .FootMain {
    border-top: 1px solid #cbcbcb;
  }
  .PurpleGradient {
    background: $PRIMARY;
    position: absolute;
    height: 70px;
    width: 847px;
    bottom: -3px;
    right: 100px;
    filter: blur(11px);
    width: 100%;
    left: -19px;
    bottom: -45px;
    @include responsiveProperty(
      (
        margin-right: 100,
      )
    );
  }
}

@media screen and (max-width: 575px) {
  .MainContainer {
    padding: 0 calculatePixels(992, 64) !important;
    .HeaderContainer {
      flex-direction: column;
      margin-top: calculatePixels(1400, 100) !important;
      .Content {
        position: relative;
        .ContentHeading {
          font-size: calculatePixels(1400, 48) !important;
          width: 100% !important;
        }
        .TileMainContainer {
          gap: calculatePixels(1400, 20) !important;

          .TileContainer {
            margin-right: 0 !important;
            img {
              width: calculatePixels(1400, 64) !important;
              height: calculatePixels(1400, 64) !important;
            }
            .TileContent {
              .TileHeading,
              .TileParagraph {
                font-size: calculatePixels(1400, 16) !important;
              }
            }
          }
        }
      }
      .HeaderImg {
        text-align: center;
        img {
          width: 100% !important;
        }
      }
    }
    .CompanyAbout {
      height: fit-content;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;

      margin-top: 100px;

      .Column {
        float: left;
        width: 100%;
        padding: 15px;
        display: flex;

        .Icon {
          width: calculatePixels(1400, 64) !important;
          margin-right: calculatePixels(1400, 14) !important;
        }
        .ListContent {
          margin-top: 2px;
          padding-right: 4px;
          .Title {
            color: $YELLOW;
            font-size: calculatePixels(1600, 16) !important;
            margin-bottom: 5px;
          }
          .Text {
            font-size: calculatePixels(1600, 16) !important;
          }
        }
      }
    }
    .BrandContainer {
      margin-top: 65px;
      .BrandContent {
        .BranHeading {
          font-size: calculatePixels(1400, 36) !important;
        }
        .BrandParagraph {
          font-size: calculatePixels(1400, 16) !important;
        }
      }
    }
    .FormMainContainer {
      margin-top: calculatePixels(1400, 100) !important;
      padding-bottom: calculatePixels(1400, 100) !important;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .FormImage {
        width: 100% !important;
      }
      .FormContainer {
        margin-top: 50px;
        padding: calculatePixels(1200, 28) calculatePixels(1200, 48) !important;
        width: auto !important;
        .FormHeading {
          font-size: calculatePixels(1400, 36) !important;
        }
        .FormParagraph {
          font-size: calculatePixels(1400, 16) !important;
        }
        .FormBtn {
          width: calculatePixels(1400, 200) !important;
          font-size: calculatePixels(1400, 16) !important;
          margin-top: calculatePixels(1400, 30) !important;
          box-shadow: none !important;
        }
      }
    }
    // .PurpleGradient {
    //   background: $PRIMARY;
    //   position: absolute;
    //   height: 70px;
    //   width: 847px;
    //   bottom: -3px;
    //   right: 100px;
    //   filter: blur(11px);
    //   width: 100%;
    //   left: -19px;
    //   bottom: -45px;
    //   @include responsiveProperty(
    //     (
    //       margin-right: 100,
    //     )
    //   );
    // }
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .MainContainer {
    .HeaderContainer {
      flex-direction: column;
      margin-top: calculatePixels(1200, 100) !important;
      .Content {
        position: relative;
        .ContentHeading {
          font-size: calculatePixels(1200, 48) !important;
          width: 100% !important;
        }
        .TileMainContainer {
          gap: calculatePixels(1200, 20) !important;

          .TileContainer {
            margin-right: 0 !important;
            img {
              width: calculatePixels(1200, 64) !important;
              height: calculatePixels(1200, 64) !important;
            }
            .TileContent {
              .TileHeading,
              .TileParagraph {
                font-size: calculatePixels(1200, 16) !important;
              }
            }
          }
        }
      }
      .HeaderImg {
        text-align: center;
        img {
          width: 50% !important;
        }
      }
    }
    .CompanyAbout {
      // height: 163px;
      height: fit-content;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;

      margin-top: 100px;

      .Column {
        float: left;
        width: 100%;
        padding: 15px;
        display: flex;

        .Icon {
          width: calculatePixels(1400, 64) !important;
          margin-right: calculatePixels(1400, 14) !important;
        }
        .ListContent {
          margin-top: 2px;
          .Title {
            color: $YELLOW;
            font-size: calculatePixels(1600, 16) !important;
            margin-bottom: 5px;
          }
          .Text {
            font-size: calculatePixels(1600, 16) !important;
          }
        }
      }
    }
    .BrandContainer {
      margin-top: 65px;
      .BrandContent {
        .BranHeading {
          font-size: calculatePixels(1400, 36) !important;
        }
        .BrandParagraph {
          font-size: calculatePixels(1400, 16) !important;
        }
      }
    }
    .FormMainContainer {
      margin-top: calculatePixels(1200, 100) !important;
      padding-bottom: calculatePixels(1200, 100) !important;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .FormImage {
        width: 50% !important;
      }
      .FormContainer {
        margin-top: 50px;
        padding: calculatePixels(1200, 28) calculatePixels(1200, 48) !important;
        width: auto !important;
        .FormHeading {
          font-size: calculatePixels(1400, 36) !important;
        }
        .FormParagraph {
          font-size: calculatePixels(1400, 16) !important;
        }
        .FormBtn {
          width: calculatePixels(1200, 200) !important;
          margin-top: calculatePixels(1200, 30) !important;
        }
      }
    }
    // .PurpleGradient {
    //   background: $PRIMARY;
    //   position: absolute;
    //   height: 70px;
    //   width: 847px;
    //   bottom: -3px;
    //   right: 100px;
    //   filter: blur(11px);
    //   width: 100%;
    //   left: -19px;
    //   bottom: -45px;
    //   @include responsiveProperty(
    //     (
    //       margin-right: 100,
    //     )
    //   );
    // }
  }
}
