@import "shared/styles/colors.scss";
.TileContainer {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  background: $WHITE;
  padding: 0px 12px;
  border-radius: 10px;
  padding-bottom: 12px;
  padding-top: 22px;
  img {
    width: 64px;
    height: 64px;
  }
  .TileContent {
    .TileHeading {
      margin-top: 0;
      font-size: 16px;
      font-family: "InterRegular";
      margin-bottom: 0;
    }
    .TileParagraph {
      font-size: 16px;
      font-family: "InterMedium";
      color: $BLACK_ONE;
    }
  }
}
