@import "shared/styles/colors.scss";
footer {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  .ButtonStyle{
    background: #46B0E6;
    box-shadow: -4px 13px 46px -1px #46B0E6 !important;
  }
  .logo {
    font-size: 1.5rem;
  }
  
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  ul li a {
    color: $BLACK_ONE;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: $BLACK_ONE;
  }
  
  .CheckBtn {
    font-size: 30px;
    color: $BLACK_ONE;
    cursor: pointer;
    display: none;
  }
  
  #Check {
    display: none;
  }
  
  @media (max-width: 768px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
  
    .ListContainer {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: rgb(235,240,255);
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
  
    .ListContainer li {
      margin: 20px 0;
    }
  
    .ListContainer li a {
      font-size: 16px;
    }
  
    #check:checked ~ ul {
      right: 0;
    }
  }