@import "shared/styles/responsive.module.scss";
.Container {
  margin: 0 auto;
  padding: 15px 10px;
  width: 90%;
  color: #333;
  text-align: center;
  .CarouselItem {
    width: 33%;
    display: flex;
    align-items: center;
    .Icon {
      width: 350px;
      height: 100px;
    }
    .Twitter {
      width: 400px;
      height: 100px;
    }
  }
}
@media screen and (max-width: 576px) {
  .Container {
    .CarouselItem {
      width: 100%;
      .Icon {
        height: 100px;
        width: calculatePixels(1200, 350) !important;
      }
      .Twitter {
        width: calculatePixels(1200, 350) !important;
      }
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .Container {
    .CarouselItem {
      width: 100%;
      .Icon {
        height: 100px;
        width: calculatePixels(1400, 350) !important;
      }
      .Twitter {
        width: calculatePixels(1400, 350) !important;
      }
    }
  }
}
