.CutomButton{
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    color: #FFFFFF;
    border-radius: 999px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  // @media screen and (max-width: 600px) {
  //   .button1 {
  //     width: 100%;
  //     margin-top: 15px;
  //   }
// }