@import 'shared/styles/colors.scss';
@mixin primaryBtn {
    color: $WHITE;
    background-color: $PRIMARY;
    border: 1px solid $PRIMARY;
    // border: none;
    border-radius: 3px;
    font-size: 14px;
    font-family: ManropeRegular;
    &:hover {
        background-color: $WHITE !important;
        color: $PRIMARY;
    }
}