@import "shared/styles/colors.scss";
.InputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
    margin-top: 10px;
  .InputLabel {
    font-size: 16px;
    font-family: InterMedium;
    .IsRequire {
      color: $ORANGE;
    }
  }
  .Input {
    background-color: $PRIMARY_ONE;
    height: 40px;
    border: 1px solid $PRIMARY_TWO;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
    &:focus {
      outline: none;
    }
  }
  .Error {
    color: $ORANGE;
    font-size: 14px;
  }
}
