@import "shared/styles/colors.scss";
nav {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.ButtonStyle {
  background: #46b0e6;
  box-shadow: -4px 13px 46px -1px #46b0e6 !important;
}
.logo {
  font-size: 1.5rem;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: $BLACK_ONE;
  text-decoration: none;
  transition: color 0.3s;
}

ul li a:hover {
  color: $BLACK_ONE;
}

.CheckBtn {
  font-size: 30px;
  color: $BLACK_ONE;
  cursor: pointer;
  display: none;
}

#Check {
  display: none;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16px;
    ul {
      white-space: nowrap;
      margin-top: 15px;
    }
    .ButtonStyle {
      display: none;
    }
  }
}
