@import "shared/styles/colors.scss";
.Column {
  float: left;
  width: 30%;
  padding: 5px;
  display: flex;
  .Icon {
    width: 64px;
    margin-right: 14px;
  }
  .ListContent {
    .Title {
      color: #f89d21;
      font-size: 16px;
      font-family: InterMedium;
      margin-bottom: 5px;
    }
    .Text{
      font-family: InterRegular;
      font-size: 16px;
      color: $BLACK_ONE;
    }
  }
}